<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Add Product</title>
    </h:head>
    <h:body>
        <h:form>
          <p:growl id="growl" life="2000" />
    <h:panelGrid columns="2" cellpadding="5">
         <p:outputLabel value="Product Category: " />
         <p:selectOneMenu id="productCategory" value="#{addProductController.productCategory}" style="width:150px">
              <p:ajax listener="#{addProductController.onProductCategoryChange}" update="subCategory" />
                <f:selectItem itemLabel="Select Product Category" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{addProductController.productCategories}" />
            </p:selectOneMenu>
         
          <p:outputLabel for="subCategory" value="Sub Category: " />
          <p:selectOneMenu id="subCategory" value="#{addProductController.subCategory}" style="width:150px">
              
                <f:selectItem itemLabel="Select SubCategory" itemValue="addProductController.subCategory"  />
                <f:selectItems value="#{addProductController.subCategories}" />
 
            </p:selectOneMenu>
        <p:outputLabel  value="Product Name" />
        <p:inputText binding="#{productName}"  />
 
        <p:outputLabel  value="Price" />
        <p:inputText binding="#{price}" />
        
         <p:outputLabel  value="Quantity" />
        <p:inputText binding="#{quantity}" />
        
        <p:commandButton value="Add" id="add" update="growl"  actionListener="#{addProductController.addNewProduct(productName.value, price.value, quantity.value)}" action="/admin/welcome" styleClass="ui-priority-primary">
         
        </p:commandButton>
    </h:panelGrid>
          
     </h:form>
    </h:body>
</html>

