<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add Product Category</title>
    </h:head>
    <h:body>
     <h:form>
         <p:growl id="growl" life="2000" />
    <h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel  value="Product Category " />
        <p:inputText binding="#{productCatName}"  />
 
        <p:outputLabel  value="Description:" />
        <p:inputText binding="#{productCatDesc}" />
        
        <p:commandButton value="Add" id="add" update="growl" actionListener="#{productCategoryController.addProductCategory(productCatName.value,productCatDesc.value)}" styleClass="ui-priority-primary" />
    </h:panelGrid>
     </h:form>
    </h:body>
</html>

