<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
          
    <h:head>
        <title>Add Sub Category</title>
    </h:head>
    <h:body>
        <h:form>
         
    <h:panelGrid columns="2" cellpadding="5">
         <p:outputLabel value="Product Category: " />
         <p:selectOneMenu id="productCategory" value="#{subCategoryController.productCategory}" style="width:150px">
              
                <f:selectItem itemLabel="Select Product Category" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{subCategoryController.productCategories}" />
            </p:selectOneMenu>
        <p:outputLabel  value="Sub Product Category " />
        <p:inputText binding="#{productCatName}"  />
 
        <p:outputLabel  value="Description:" />
        <p:inputText binding="#{productCatDesc}" />
        
        <p:commandButton value="Add" id="add"  actionListener="#{subCategoryController.addSubCategory(productCatName.value,productCatDesc.value)}" styleClass="ui-priority-primary" />
    </h:panelGrid>
     </h:form>
    </h:body>
</html>

