<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      template="./../WEB-INF/templates/authnTemplate.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
     <ui:define name="title">
        Edit Product
     </ui:define>
    
    <ui:define name="content">
        <h:form>
        <p:panelGrid>
        <p:outputLabel  value="Product Name" />
        <p:inputText  value="#{editProductController.editName}"  />
 
        <p:outputLabel  value="Price" />
        <p:inputText value="#{editProductController.editPrice}" />
        
         <p:outputLabel  value="Quantity" />
         <p:inputText value="#{editProductController.editQty}" />
        
         <p:commandButton value="Edit" id="edit"   actionListener="#{editProductController.saveChanges()}" action="/admin/welcome" styleClass="ui-priority-primary" >
             
         </p:commandButton>
    </p:panelGrid>
          
     </h:form>
    <f:metadata>
    <f:viewParam name="productSel" value="#{editProductController.productId}"  />
</f:metadata>
       
    </ui:define>
</ui:composition>

