<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Send mail to customer</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panel class="panel panel-primary">
            
            <h:panelGrid columns="2" class="panel-body" cellpadding="5">
             
                <p:outputLabel value="Customer Name"/>
                <p:inputText value="#{mail.name}"/>
                <p:outputLabel value="Subject"/>
                <p:inputText value="#{mail.header}"/>
                <p:outputLabel value="Email"/>
                <p:inputText value="#{mail.emailAddr}"/>
                <p:outputLabel value="Message" />
                <p:inputTextarea rows="6" cols="33" value="#{mail.body}" />
                <p:commandButton actionListener="#{mail.sendMail()}" value="Send" action="welcome.xhtml" />
               
            </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</html>

