<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      template="./../WEB-INF/templates/authnTemplate.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
    <ui:define name="title">
        Admin Profile
    </ui:define>
    <ui:define name="content">
         <h:dataTable class="table table-striped table-hover" value="#{adminService.findByUsername(loginController.remoteUser)}" var="admin">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{admin.personId}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="First Name"/>
                </f:facet>
                <h:outputText value="#{admin.firstName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Last Name"/>
                </f:facet>
                <h:outputText value="#{admin.lastName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Email ID"/>
                </f:facet>
                <h:outputText value="#{admin.email}"/>
            </h:column>
             <h:column>
                <f:facet name="header">
                    <h:outputText value="Contact No."/>
                </f:facet>
                <h:outputText value="#{admin.designation}"/>
            </h:column>   
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Store Location"/>
                </f:facet>
                <h:outputText value="#{admin.storeLocation}"/>
            </h:column>  

        </h:dataTable>
    
    </ui:define>
       
</ui:composition>

