<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Admin Welcome
    </ui:define>

    <ui:define name="content">
        Hello Admin #{loginController.remoteUser}
    <h:form>
   
 
    <p:commandButton value="Add Product Category" icon="ui-icon-extlink" actionListener="#{productCategoryController.addProductCategoryDialog()}">
       <!-- <p:ajax event="dialogReturn" listener="#{dfView.onCarChosen}" update="growl" />-->
    </p:commandButton>
        
        <p:commandButton value="Add Sub Product Category" icon="ui-icon-extlink" actionListener="#{subCategoryController.addProductCategoryDialog()}">
       <!-- <p:ajax event="dialogReturn" listener="#{dfView.onCarChosen}" update="growl" />-->
    </p:commandButton>
         
        <p:commandButton value="Add Product" icon="ui-icon-extlink" action="/admin/addProduct">
       
    </p:commandButton>
 
        
        <p:commandButton value="Send Email to customer" icon="ui-icon-extlink" actionListener="#{mail.openDialog()}">
       <!-- <p:ajax event="dialogReturn" listener="#{dfView.onCarChosen}" update="growl" />-->
    </p:commandButton>
    </h:form>
        <h:form id="tableForm">
            <p:dataTable id="productTable" class="table table-striped table-hover" value="#{productController.pr}" var="product"
                 paginator="true" rows="10"
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10,15" selectionMode="single" selection="#{productController.selectedProduct}"   lazy="true"
                 emptyMessage="No products found!!" 
                 >
                        
            
           <p:column headerText="Product Category" sortBy="#{product.productCategory.categoryName}" filterBy="#{product.productCategory.categoryName}">                
               <h:outputText value="#{product.productCategory.categoryName}"/>
            </p:column>
             <p:column headerText="Product SubCategory" sortBy="#{product.subCategory.categoryName}" filterBy="#{product.subCategory.categoryName}">
              
                 <h:outputText value="#{product.subCategory.categoryName}"/>
            </p:column>
             <p:column headerText="Product" sortBy="#{product.productName}" filterBy="#{product.productName}">
               
                 <h:outputText value="#{product.productName}"/>
            </p:column>
            <p:column headerText="Price" sortBy="#{product.price}" filterBy="#{product.price}" >
                
                 <h:outputText value="#{product.price}"/>
            </p:column>
            <p:column headerText="Quantity" sortBy="#{product.qty}" filterBy="#{product.qty}">
                
                 <h:outputText value="#{product.qty}"/>
            </p:column>
            <p:column>
                <p:link outcome="/admin/editProduct" value="Edit" >
                <f:param name="productSel" value="#{product.productId}" />
            </p:link>
               
            </p:column>
            <p:column>
                 <p:growl id="message" showDetail="true" />
 
    <p:commandButton value="Delete" actionListener="#{productController.deleteProduct(product)}" >
        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
        
    </p:commandButton>
 
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
            </p:column>
        </p:dataTable>
       
        </h:form>
    </ui:define>

</ui:composition>