<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><ui:insert name="title">Default Title</ui:insert></title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </h:head>
    <h:body>
        <h:panelGroup layout="block" class="container">

            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                       
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                            <h:graphicImage library="default" name="img/grocery_logo.jpg" width="75px" height="75px"/>
                            </li>
                            <li>
                            <h:link value="Grocery Store"/>
                            </li>
                            <ui:fragment rendered="#{loginController.admin}">
                                <li class="#{fn:startsWith(view.viewId, '/admin/welcome') ? 'active' : ''}">
                                    <h:link outcome="/admin/welcome.xhtml" value="Admin Portal"/>
                                </li>
                            </ui:fragment>
                            <ui:fragment rendered="#{loginController.customer}">
                                <li class="#{fn:startsWith(view.viewId, '/customer/welcome') ? 'active' : ''}">
                                    <h:link outcome="/customer/welcome.xhtml" value="Customer Portal"/>
                                </li>
                            </ui:fragment>
                           <ui:fragment rendered="#{loginController.admin}">
                                <li>
                                    <h:link outcome="/admin/profile.xhtml" value="Admin Profile"/>
                                </li>
                            </ui:fragment>
                             <ui:fragment rendered="#{loginController.customer}">
                                <li>
                                    <h:link outcome="/customer/profile.xhtml" value="Customer Profile"/>
                                </li>
                            </ui:fragment>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><h:form><h:commandLink class="navbar-text" action="#{loginController.doLogout()}" value="Logout"/></h:form></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>


            <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h:messages showDetail="false" showSummary="true" globalOnly="true"/>
            </h:panelGroup>

            <h1><ui:insert name="title">Default Title</ui:insert></h1>

            <ui:insert name="content">Default Content</ui:insert>

        </h:panelGroup>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </h:body>
</html>

