<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      template="./../WEB-INF/templates/authnTemplate.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
    <ui:define name="title">
        Customer Profile
    </ui:define>
    <ui:define name="content">
         <h:dataTable class="table table-striped table-hover" value="#{customerService.findByUsername(loginController.remoteUser)}" var="customer">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{customer.personId}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="First Name"/>
                </f:facet>
                <h:outputText value="#{customer.firstName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Last Name"/>
                </f:facet>
                <h:outputText value="#{customer.lastName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Email ID"/>
                </f:facet>
                <h:outputText value="#{customer.email}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Gender"/>
                </f:facet>
                <h:outputText value="#{customer.gender}"/>
            </h:column>
             <h:column>
                <f:facet name="header">
                    <h:outputText value="Contact No."/>
                </f:facet>
                <h:outputText value="#{customer.contactNo}"/>
            </h:column>         

        </h:dataTable>
  
    </ui:define>
       
</ui:composition>

