<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Customer Welcome
    </ui:define>

    <ui:define name="content">
        Hello Customer #{loginController.remoteUser}   
     
         

        <h:form id="form">
            <p:graphicImage library="default" name="img/grocer.jpg" styleClass="content" />
            <p:dataGrid var="product" value="#{customerProductController.pr}" columns="3" layout="grid"
        rows="12" paginator="true" id="products"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="6,12,16">
 
        <f:facet name="header">
           Food Products for Sale
        </f:facet>
 
        <p:panel  style="text-align:center">
            <h:panelGrid columns="1" style="width:100%">
                 
                <h:outputText value="Product: #{product.productName}" />
                <h:outputText value="Price: #{product.price}" />
                <h:outputText value="Quantity: #{product.qty}" />
                <h:outputText value="SubCategory: #{product.subCategory.categoryName}" />
                <h:outputText value="Category: #{product.productCategory.categoryName}" />
 
                
            </h:panelGrid>
        </p:panel>
 
    </p:dataGrid>
        </h:form>
    </ui:define>

</ui:composition>