<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/publicTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Login Page
    </ui:define>

    <ui:define name="content">
        <div class="container">
            <h1>User Login</h1>

            <h:form>
                <h:panelGroup styleClass="#{j_username.valid ? 'form-group' : 'form-group has-error'}" layout="block">
                    <h:outputLabel class="control-label" for="j_username" value="Username"/>
                    <h:inputText binding="#{j_username}" class="form-control" id="j_username" value="#{loginController.username}"/>
                    <h:message for="j_username" style="color:red"/>
                </h:panelGroup>
                <h:panelGroup styleClass="#{j_password.valid ? 'form-group' : 'form-group has-error'}" layout="block">
                    <h:outputLabel class="control-label" for="j_password" value="Password"/>
                    <h:inputSecret binding="#{j_password}" class="form-control" id="j_password" value="#{loginController.password}"/>
                    <h:message for="j_password" style="color:red"/>
                </h:panelGroup>
                <h:commandButton class="btn btn-default" value="Login" action="#{loginController.doLogin()}"/>
                
            </h:form>
        </div>
    </ui:define>

</ui:composition>
