<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/publicTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Register Page
    </ui:define>

    <ui:define name="content">
        <div class="container">
            
            <p:growl id="growl"/>
            <h:form>
    <h:panelGrid columns="2" cellpadding="5">
         <p:outputLabel for="fname" value="First Name" />
         <p:inputText id="fname" value="#{registerController.firstName}"  />
         
          <p:outputLabel for="mname"  value="Middle Name" />
          <p:inputText id="mname" value="#{registerController.middleName}" required="true"  />
 
          <p:outputLabel for="lname" value="Last Name" />
          <p:inputText id="lname" value="#{registerController.lastName}" required="true"  />
 
          <p:outputLabel  value="Email" />
          <p:inputText value="#{registerController.email}" required="true"  />
 
          <p:outputLabel  value="Gender" />
          <p:inputText value="#{registerController.gender}" required="true" />
 
          <p:outputLabel  value="Contact Number" />
          <p:inputText value="#{registerController.contactNo}" required="true" />
 
          <p:outputLabel  value="User Name" />
          <p:inputText value="#{registerController.username}" required="true"  />
 
          <p:outputLabel  value="Password" />
          <p:password value="#{registerController.password}" required="true" />
 
         
          <p:commandButton value="Register" id="register" actionListener="#{registerController.doRegister()}" action="login.xhtml?faces-redirect=true" styleClass="ui-priority-primary" update="growl">
         
        </p:commandButton>
        
          
    </h:panelGrid>
                </h:form>
        </div>
    </ui:define>

</ui:composition>
